{% extends 'base.html' %}
{% block main %}
<div class="container">
  {% if products %}
  <div>
    <form method="post" action="{% url 'clear_all_products' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Отчистить корзину</button>
  </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <form method="post" action="{% url 'delete_product_from_cart' product.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Удалить из корзины</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary">₽ {{ total_price }}</button>

  {% else %}
  <p>У вас нет товаров в корзине.</p>
  {% endif %}
</div>
{% endblock %}